@font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

.app-div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-family: 'Rocher';
    background-color: lightyellow;
}

.mint {
    font-palette: --Mint;
}

.app-logo {
    margin-left: 10px;
    height: 80px;
    width: 80px;
}

.app-title {
    font-size: 36px;
    font-weight: bold;
    margin-left: 20px;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
}

.searchbar {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 50px;
    max-width: 200px;
    max-height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

.search-result {
    display: none;
    position: absolute;
    width: 100%;
    max-height: 200px;
    width: 500px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    z-index: 30;

}

.search-text {
    background-color: white;
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px solid #f2f2f2;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.search-text:last-child {
    border-bottom: none;
}

.search-text:hover {
    background-color: #f9f9f9;
}

.search-result.show {
    display: block;
}

.app-main {
    margin-left: 20px;
    font-size: 20px;
    margin-right: 20px;
}

.app-main-hovered {
    margin-left: 20px;
    font-size: 20px;
    margin-right: 25px;
    transform: scale(1.5)
}




.app-menu {
    margin-left: 10px;
    font-size: 20px;
    margin-right: 25px;
}

.app-menu-hovered {
    margin-left: 10px;
    font-size: 20px;
    margin-right: 25px;
    transform: scale(1.5)
}



.app-cart {
    margin-left: 10px;
    font-size: 20px;
    margin-right: 25px;
}

.app-cart-hovered {
    margin-left: 10px;
    font-size: 20px;
    margin-right: 25px;
    transform: scale(1.5)
}


.app-aboutus {
    margin-left: 10px;
    font-size: 20px;
    margin-right: 25px;
}

.app-aboutus-hovered {
    margin-left: 10px;
    font-size: 20px;
    margin-right: 25px;
    transform: scale(1.5)
}






.app-mainContent {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-size: 40px;
    align-items: center;
}


.app-special-sign {
    font-family: 'Rocher';
    font-weight: bold;
    margin-bottom: 20px;
    background-color: lightyellow;
}



.app-cartContent {
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;

}

.app-aboutusContent {
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.menu-container {
    max-width: 960px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    /* Horizontally center the content */
    align-items: center;
    /* Vertically center the content */
}


.menu-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: lightyellow;
    margin: 0px;
    padding: 10px;
    width: 200px;
    height: 280px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.menu-card-image {
    width: 200px;
    height: 170px;
    display: flex;
    margin: auto;
}

.menu-card-button {
    display: flex;
    margin: auto;
}




.menu-card-title {
    font-size: 15px;
    text-align: center;
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

.menu-card-content {
    font-size: 15px;
    text-align: center;
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}


.menu-title {
    font-size: 40px;
    font-family: 'Rocher';
    text-align: center
}



.app-menuContent {
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}




.popular-cards {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    /* Horizontally center the content */
    align-items: center;
    /* Vertically center the content */
}


.popular-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: lightyellow;
    margin: 0px;
    padding: 10px;
    width: 200px;
    height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.popular-card-image {
    width: 200px;
    height: 170px;
    display: flex;
    margin: auto;
}


.popular-card-title {
    font-size: 15px;
    text-align: center;
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}


.popular-card-button {
    display: flex;
    margin: auto;
}






.popular-card-content {
    font-size: 15px;
    text-align: center;
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}


.popupPage {

    font-size: 12px;
    background-color: lightyellow;
    height: 400px;
    width: 500px;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.darken-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust the opacity as needed */
    z-index: 998;
    /* Ensure it's on top of other elements */
}

.popupPage>.header {
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    font-size: 20px;
    text-align: center;
    padding: 30px;
}

.cart-image {
    width: 220px;
    height: 180px;
    display: flex;
    margin: auto;
}

.popupPage>.actions {
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 15px;
}

.cart-button {
    width: 50px;
    height: 30px
}

.cart-remove-button {
    width: 100px;
    height: 30px;
    margin-top: 30px;
    margin-left: 10px
}

.cart-quantity {
    width: 80px;
    height: 30px;
    border: 1px solid #cfcece;
    font-size: 15px;
    text-align: center;
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}



.popupPage>.confirm {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    right: 210px;
    top: 350px;
    font-size: 20px;


}



.checkout-header {
    font-family: 'Rocher';
    font-size: 30px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
}


.checkout-items {
    border: 1px solid #cfcece;
    height: 200px;
    width: 690px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: lightyellow;
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    font-size: 15px;
    padding: 10px;
}


.checkout-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    margin-right: 10px;
}


.checkout-item-image {
    height: 170px;
    width: 170px;
    flex-direction: column;
    padding: auto;

}

.checkout-item-details {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px;

}


.checkout-item-button {
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 15px;
}

.checkout-item-price {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px;


}

.checkout-button {

    height: 60px;
    width: 450px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;

    font-family: 'Rocher';
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: lightyellow;
    border: 1px solid #cfcece;

}


.confirm-section {
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    font-size: 20px;
    height: 350px;
    width: 500px;
    max-width: 500px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.confirm-fullname,
.confirm-email,
.confirm-address {
    margin-bottom: 30px;
    
}

.confirm-fullname input,
.confirm-email input,
.confirm-address input {
    margin: 10px;
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.confirm-fullname input:focus,
.confirm-email input:focus,
.confirm-address input:focus {
    outline: none;
    border-color: #6c63ff;
    box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
}